<!DOCTYPE html>
<html lang="el">
<head>
  <title></title>
  <link rel="shortcut icon" type="image/x-icon" href="opalogo.png"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" href="mystyle.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:lightyellow">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >e-Γραμματεία</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li  class="active"><a href="home.html">Αρχική</a></li>
        <li><a href="kataxorisi.html">Καταχώρηση Βαθμών</a></li>
        <li><a href="katataksi.html">Κατάταξη</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="form.html" data-target="#signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="login.html" data-target="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>


      </ul>
    </div>
  </div>

</nav>

<div class="container">
  <h2>SIGN-UP</h2>
  <form action="#" th:action="@{/submit}" th:object="${person}" method="post">
	 <div class="form-group">
		<label for="usr">Firstname:</label>
		<input type="text" class="form-control" id="usr" placeholder="Enter firstname" th:field="*{name}" />
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
	 </div>
	 <div class="form-group">
	   <label for="usr">Lastname:</label>
	   <input type="text" class="form-control" id="usr" placeholder="Enter lastname" th:field="*{sur}" />
	   <p th:if="${#fields.hasErrors('sur')}" th:errors="*{sur}">sur Error</p>
	 </div>
	 <div class="form-group">
	   <label for="usr">Age:</label>
	   <input type="text" class="form-control" id="usr" placeholder="Enter Age" th:field="*{age}" />
	   <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</p>
	 </div>
	 <div class="form-group">
	  <label for="usr">Address:</label>
	  <input type="text" class="form-control" id="usr" placeholder="Enter address" th:field="*{address}" />
	  <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address Error</p>
	 </div>
	<div class="form-group">
	 <label for="email">Email:</label>
	 <input type="email" class="form-control" id="email" placeholder="Enter email" th:field="*{email}" />
	 <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
	 </div>
	 <div class="form-group">
	 <label for="email">Username:</label>
	 <input type="text" class="form-control" id="username" placeholder="Enter usernamel" th:field="*{username}" />
	 <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</p>
	 </div>
	 
	 <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>

